<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>654853775402-kihju5msd0uodnqcvnrq83v7n726e9v0.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.654853775402-kihju5msd0uodnqcvnrq83v7n726e9v0</string>
	<key>API_KEY</key>
	<string>AIzaSyBxaOCXOq4I8BPWnPjH7QxBC4V1BUkCdhc</string>
	<key>GCM_SENDER_ID</key>
	<string>654853775402</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.mainpage.ios</string>
	<key>PROJECT_ID</key>
	<string>mainpage-6b4c4</string>
	<key>STORAGE_BUCKET</key>
	<string>mainpage-6b4c4.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:654853775402:ios:c86685b994b0b60d</string>
	<key>DATABASE_URL</key>
	<string>https://mainpage-6b4c4.firebaseio.com</string>
</dict>
</plist>