<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>609034471288-3iuff8s79p5moram0iflaherts1b8n5u.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.609034471288-3iuff8s79p5moram0iflaherts1b8n5u</string>
	<key>API_KEY</key>
	<string>AIzaSyBUYRTOQ_1U0XRk8Sp5wlsQekrf6zoKHMc</string>
	<key>GCM_SENDER_ID</key>
	<string>609034471288</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.muksori.ios</string>
	<key>PROJECT_ID</key>
	<string>woowaproject</string>
	<key>STORAGE_BUCKET</key>
	<string>woowaproject.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:609034471288:ios:7cf54a583b4278da</string>
	<key>DATABASE_URL</key>
	<string>https://woowaproject.firebaseio.com</string>
</dict>
</plist>