@font-face {
  font-family: 'NotoSans';
  src: url("./fonts/NotoSansKR_Regular.woff") format('woff');
}

@font-face {
  font-family: 'NotoSans-Regular';
  src: url("fonts/NotoSans-Regular.ttf") format('ttf');

}

@font-face {
  font-family: 'NotoSansUI-Regular';
  src: url("fonts/NotoSansUI-Regular.ttf") format('ttf');

}

@font-face {
  font-family: 'Jua';
  src: url("fonts/BM-JUA.woff") format("woff"),
    url("fonts/BMJUA_ttf.ttf") format("truetype"),
    url("fonts/BMJUA_otf.otf") format("otf");
}
