.loading-indicator-box {
  /*outline: 1px solid blue;*/
  text-align: center;
  padding: 20px 0;
  padding-top: 60px;
  padding-bottom: 40px;
}

.loading-text {
  font-family: Jua, Helvetica;
  font-size: 1.5em;
}

.spinner {
  width: 68px;
  height: 54px;
  text-align: center;
  font-size: 16px;
  margin: 10px auto 0;
}

.spinner > div {
  background-color: #70b6e5;
  height: 100%;
  width: 8px;

  display: inline-block;

  -webkit-animation: sk-stretchdelay 1.2s infinite ease-in-out;
  animation: sk-stretchdelay 1.2s infinite ease-in-out;
}

.spinner .rect2 {
  -webkit-animation-delay: -1.1s;
  animation-delay: -1.1s;
}

.spinner .rect3 {
  -webkit-animation-delay: -1.0s;
  animation-delay: -1.0s;
}

.spinner .rect4 {
  -webkit-animation-delay: -0.9s;
  animation-delay: -0.9s;
}

.spinner .rect5 {
  -webkit-animation-delay: -0.8s;
  animation-delay: -0.8s;
}

@-webkit-keyframes sk-stretchdelay {
  0%, 40%, 100% { -webkit-transform: scaleY(0.4) }
  20% { -webkit-transform: scaleY(1.0) }
}

@keyframes sk-stretchdelay {
  0%, 40%, 100% {
    transform: scaleY(0.4);
    -webkit-transform: scaleY(0.4);
  }  20% {
    transform: scaleY(1.0);
    -webkit-transform: scaleY(1.0);
  }
}
