hr {
  margin: 13px 0;
}

/*.tags_holder{
  margin-top: 5px;
}

.tags_item {
  border: 1px solid rgb(212, 67, 231);
  color: rgb(212, 67, 231);
  padding: 5px 8px;
  border-radius: 15px;
  -moz-border-radius: 15px;
  -webkit-border-radius: 15px;
}*/

.like_btn {
  font-size: 25px;
}

.post_time {
  font-size: 14px;
  float: right;
  margin-top: 4px;
}

.post .Name {
  font-size: 2em;
}

.post .Category {
  bottom: 1px;
  margin-left: 15px;
  color: #1e83c3;
  font-size: 1em;
}

div.img-divgo{
  height: 60px;
  width: 60px;
}

.img-divgo .profilePic {
  max-height: 60px;
}
