/*
darker: #246a99
normal: #3498db
lighter: #70b6e5
more lighter: #99cbed
success_green: #5cb85c
*/

body {
  font-family: NotoSans !important;
  /*font-size: 0px;*/
  margin-top: 70px;
  margin-bottom: 0px;
  vertical-align: baseline;
}

.right_side {
  display: none;
}

.right_side_icon {
  display: block;
}

@media (min-width: 768px) {
  .right_side {
    display: block;
  }

  .right_side_icon {
    display: none;
  }
}

.fa-search {
  font-size: 20px;
  color: #fff;
}

.custom_search_btn {
  width: 44px !important;
  height: 34px !important;
  padding-top: 5px !important;
}

.navbar {
  background-color: #09273a;
  position: fixed;
  font-size: 14px;
}

.navbar-brand {
  color: #FFF !important;
}

.container_box {
  width: inherit;
  max-width: 720px;
  min-width: 360px;

  margin-left: auto;
  margin-right: auto;
  margin-top: 51px;
  font-size: 16px;
}

.category_picker {
  table-layout: fixed;
  width: 100%;
}

.category_picker td {
  text-align: center;
  border-collapse: collapse;
  border: 1px solid white;
  !background-color: #3498db;
  padding: 10px;
  position: relative;
}

.category_picker .image_holder {
  width: 100%;
  height: 100%;
  overflow: hidden;
  border-radius: 50%;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  display: inline-block;
  position: relative;
  z-index: 1;
  border-style: solid;
  border-width: 1px;
  border-color: #AAA;

  position: relative;
}

.category_picker .image_holder:hover {
  cursor: pointer;
}

.category_picker .cover {
  z-index: 10;
  visibility: hidden;
}

.brand_check {
  display: none;
}

.shader {
  position: absolute;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  border-radius: 50%;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  background-color: #333;
  opacity: 0.7;
  display: none;
}

.category_picker td .fa-check-circle {
  z-index: 3;
  position: absolute;
  font-size: 40px;
  color: #3498db;
  right: 0px;
  top: 0px;
}

.category_picker img {
  -webkit-transform:translate(-50%);
  -moz-tranform:translate(-50%);
  -ms-transform: translate(-50%); /* IE 9 */
  transform: translate(-50%);

  width: 100%;
  position: absolute;
}

.menu_list {
  width: 100%;
  padding: 10px;
  border-style: solid;
  border-color: transparent;
  !border-radius: 14px;
  !-moz-border-radius: 14px;
  !-webkit-border-radius: 14px;
  color: #777;
}


.menu_item {
  font-weight: normal;
  font-size: 1.4em;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 18px;
  padding-right: 18px;
  !border-bottom: solid 1px #70b6e5;
  border-bottom: solid 1px #888;

  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
  overflow: hidden;
  position: relative;

}


.menu_item:hover {
  background-color: #f8f8f8;
  cursor: pointer;

  !font-style: oblique;
}

.menu_item span {
  /*display: table-cell;
  padding-top: 8px;
  padding-bottom: 8px;
  padding-left: 14px;
  padding-right: 14px;*/
}

.menu_check {
  color: #70b6e5;
  margin-left: 10px;
  display: none;
}

.menu_item_cover {
  width: 100%;
  height: 100%;
  position: absolute;
  background-color: #333;
  display: none;
  opacity: 0.3;
  z-index: 3;
  left: 0px;
  top: 0px;
}

.menu_item_cover:hover {
  display: none;
}

input:focus {
  border-color: none;
  box-shadow: none;
  -webkit-box-shadow: none;
  outline: -webkit-focus-ring-color none 5px;
}
.unselectable {
  -moz-user-select: -moz-none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.btn {
  border-color: transparent;
}

.custom_button {
  color: #FFF;
  border: none;
  box-shadow: none;
  border-radius: 6px;
  -moz-border-radius: 6px;
  -webkit-border-radius: 6px;

}

.custom_button:focus {
  border-color: none;
  box-shadow: none;
  -webkit-box-shadow: none;
  outline: -webkit-focus-ring-color none 5px;
}

.custom_button:hover {
  cursor: pointer;
}

.post {
  margin-bottom: 20px;
  border-radius: 18px;
  -moz-border-radius: 18px;
  -webkit-border-radius: 18px;
  border-style: solid;
  border-width: 1px;
  border-color : #CCC;
  padding: 20px 20px 0 20px;
}

.post-header {
  position: relative;
}

.post .Name {
  font-size: 30px;
  font-weight: bold;
  margin-left: 20px;
  top: 1px;
  position: absolute;
  line-height: 80px;
}

.post .Category {
  bottom: 1px;
  margin-left: 15px;
  color: #1e83c3;
  font-size: 16px;
  display: none;
}

.post .textbox {
  width: 100%;
  resize: none;
  font-size: 1.2em;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 6px;
  padding-bottom: 6px;
  border-color: #AAA;
  border-style: solid;
  border-width: 1px;
  margin-top: 10px;
  border-radius: 4px;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  text-transform: lowercase;

}

.tags_holder {
  line-height: 50px;
  vertical-align: baseline;
  margin-top: 10px;
}

.post .tagger {
  line-height: normal;
  display: inline-block;
  background-color: transparent;
  color: #246a99;
  font-size: 1.2em;
  border-style: solid;
  border: none;
  box-shadow: none;
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  outline: -webkit-focus-ring-color none 5px;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 10px;
  padding-right: 10px;

  border-radius: 50px;
  -moz-border-radius: 50px;
  -webkit-border-radius: 50px;

  border-style: solid;
  border-width: 1px;
  border-color: #61a8d5;

  margin-right: 10px;
}

.post .tagger:focus {
  border-color: none;
  box-shadow: none;
  -webkit-box-shadow: none;
  outline: -webkit-focus-ring-color none 5px;
}

.post .tagger:hover {
  cursor: pointer;
}

.image_thumbnails {
  table-layout: fixed;
  width: 100%;
}

.image_thumbnails td {
  padding: 10px;

}

.image_thumbnails .single_thumbnail {
  overflow: hidden;
  background-color: #AAA;
  width: 100%;
  height: 100%;
  border: solid 1px #777;
  position: relative;
}

.image_thumbnails .single_thumbnail:hover {
  cursor: pointer;
}

.thumbnail_cover {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  background: #333;
  opacity: 0.6;
  z-index: 3;
  color: #FFF;
  font-weight: bold;
  text-align: center;
  line-height: 100%;
  font-size: 40px;

}

.single_thumbnail img {

  max-height: 100%;
}

.post_footer {
  padding-left: 15px;
  padding-right: 15px;
}

.post hr {
  margin: 0;
}

.like_btn {
  font-size: 25px;
  padding: 10px 15px;
}

.like_btn:hover {
  cursor: pointer;
}

.post_time {
  font-size: 14px;
  float: right;
  margin-top: 4px;
  font-weight: bold;
  color: #AAA;
}

.tagger::-webkit-input-placeholder {
  color: #f5f5f5;
}
.post .tagger::-moz-placeholder { /* Firefox 19+ */
  color: #f5f5f5;
}
.post .tagger:-ms-input-placeholder { /* IE 10+ */
  color: #f5f5f5;
}
.post .tagger:-moz-placeholder { /* Firefox 18- */
  color: #f5f5f5;
}

.post div.post_body {
  border: none;
  font-size: 1.6em;
  padding: 0px 6px 0px 6px;
}

.starting_sharp {
  font-weight: bold;
}


.post .textbox:focus {
  border-color: #a0b7da;
  box-shadow: none;
  -webkit-box-shadow: none;
  outline: -webkit-focus-ring-color none 5px;
}

div.img-divgo{
  height: 80px;
  width: 80px;
  overflow: hidden;
  border-radius: 50%;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  display: inline-block;
  position: relative;
  z-index: 1;
}

.img-divgo .profilePic {
  -webkit-transform:translate(-50%);
  -moz-tranform:translate(-50%);
  -ms-transform: translate(-50%); /* IE 9 */
  transform: translate(-50%);
  margin-left: 50%;
  max-height: 80px;
  position: absolute;
}
