/*
darker: #246a99
normal: #3498db
lighter: #70b6e5
success_green: #5cb85c
*/

body {
  font-family: NotoSans !important;
  /*font-size: 0px;*/
  margin-top: 70px;
  margin-bottom: 0px;
  vertical-align: baseline;
}

.right_side {
  display: none;
}

.right_side_icon {
  display: block;
}

@media (min-width: 768px) {
  .right_side {
    display: block;
  }

  .right_side_icon {
    display: none;
  }
}

.fa-search {
  font-size: 20px;
  color: #fff;
}

.custom_search_btn {
  width: 44px !important;
  height: 34px !important;
  padding-top: 5px !important;
}

.navbar {
  background-color: #09273a;
  position: fixed;
  font-size: 14px;
}

.navbar-brand {
  color: #FFF !important;
}

.container_box {
  width: inherit;
  max-width: 600px;
  min-width: 360px;
  padding-top: 20px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 51px;
  font-size: 16px;
}

input:focus {
  border-color: none;
  box-shadow: none;
  -webkit-box-shadow: none;
  outline: -webkit-focus-ring-color none 5px;
}

.btn {
  border-color: transparent;
}

.custom_button {
  color: #FFF;
  border: none;
  box-shadow: none;
  border-radius: 6px;
  -moz-border-radius: 6px;
  -webkit-border-radius: 6px;

}

.custom_button:focus {
  border-color: none;
  box-shadow: none;
  -webkit-box-shadow: none;
  outline: -webkit-focus-ring-color none 5px;
}

.custom_button:hover {
  cursor: pointer;
}

.post {
  margin-bottom: 20px;
  border-radius: 18px;
  -moz-border-radius: 18px;
  -webkit-border-radius: 18px;
  border-style: solid;
  border-width: 1px;
  border-color : #CCC;
  padding: 2vw;
}

.post-header {
  position: relative;
}

.post .Name {
  font-size: 4vw;
  font-weight: bold;
  margin-left: 15px;
  top: 1px;
  position: absolute;
}

.post .Category {
  bottom: 1px;
  margin-left: 15px;
  color: #1e83c3;
  font-size: 1.7vw;
}

.post .textbox {
  width: 100%;
  resize: none;
  font-size: 1.2em;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 6px;
  border-color: #AAA;
  border-style: solid;
  border-width: 1px;
  margin-top: 10px;
  border-radius: 4px;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;

  text-transform: lowercase;

}

.post .tagger {
  display: inline-block;
  background-color: rgb(52, 152, 219);
  color: #FFF;
  width: none;
  font-size: 1.2em;
  border-style: solid;
  border: none;
  box-shadow: none;
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  outline: -webkit-focus-ring-color none 5px;
  padding-top: 3px;
  padding-bottom: 3px;
  padding-left: 6px;
  padding-right: 4px;

  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;

  border-style: solid;
  border-width: 1px;
  border-color: #61a8d5;

  margin-right: 10px;
}

.post .tagger:focus {
  border-color: none;
  box-shadow: none;
  -webkit-box-shadow: none;
  outline: -webkit-focus-ring-color none 5px;
}

.tagger::-webkit-input-placeholder {
  color: #f5f5f5;
}
.post .tagger::-moz-placeholder { /* Firefox 19+ */
  color: #f5f5f5;
}
.post .tagger:-ms-input-placeholder { /* IE 10+ */
  color: #f5f5f5;
}
.post .tagger:-moz-placeholder { /* Firefox 18- */
  color: #f5f5f5;
}

.post .textbox:focus {
  border-color: #a0b7da;
  box-shadow: none;
  -webkit-box-shadow: none;
  outline: -webkit-focus-ring-color none 5px;
}

div.img-divgo{
  height: 7vw;
  width: 7vw;
  overflow: hidden;
  border-radius: 50%;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  display: inline-block;
  position: relative;
  z-index: 1;
}

.img-divgo .profilePic {
  -webkit-transform:translate(-50%);
  -moz-tranform:translate(-50%);
  -ms-transform: translate(-50%); /* IE 9 */
  transform: translate(-50%);
  margin-left: 50%;
  max-height: 7vw;
  position: absolute;
}
