.container_box {
  /*outline: 1px dotted pink;*/
  -webkit-transition: .5s ;
  -o-transition: .5s;
  transition: .5s;
  opacity: 0;
}

.mypage_user_box {
  text-align: center;
  font-size: 0;
  margin: 0;
  padding: 0;
}

.mypage_user_image_box {
  /*outline: 1px solid blue;*/
  margin-bottom: 20px;
}

.mypage_user_image_box img {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
}

.mypage_user_info_box {
  margin-bottom: 20px;
  /*outline: 1px solid green;*/
}

.mypage_username {
  font-size: 32px;
  line-height: 40px;
  font-weight: 200;
}

.mypage_user_sayhi {
  font-size: 15px;
  color : #888;
  margin-bottom: 10px;
}

.mypage_user_post_count {
  font-size: 18px;
  font-weight: bold;
}

.mypage_user_post_count .post_count {
  font-weight: 200;
}

.mypage_user_post_box {
  /*outline: 1px dotted yellow;*/
}

#profile_image_input {
  display: none;
}
