.post .tags_holder {

}

.post_input {
  margin-top: 100px;
}

.tagger_input {
  background-color: transparent;
  margin-left: 1px;
  !color: #FFF;
  border: none;
  box-shadow: none;
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
}

.tagger_input:first-of-type{

}

.tagger_input:focus {
  border-color: none;
  box-shadow: none;
  -webkit-box-shadow: none;
  outline: -webkit-focus-ring-color none 5px;
}

div.post {
  padding-bottom: 10px;
  opacity: 1.0;
  display: block;
}

.post .tagger {
  line-height: normal;
}

.post .tagger_complete:hover {
  cursor: pointer;
}

.buttons_holder .custom_button {
  display: inline-block;
}

.buttons_holder {
  margin: 0 20px;
}

.add_photos {
  width: 70px;
  height: 45px;
  line-height: 45px;
  background-color: #70b6e5;
  font-size: 24px;
  text-align: center;
}

.add_photos:hover {
  background-color: #99cbed;
}

.post_submit {
  width: 70px;
  height: 45px;
  line-height: 46px;
  text-align: center;
  display: inline-block;
  float: right;
  background-color: #3498db;
  font-size: 21px;
}

#image_input {
  display: none;
}
