.post .tags_holder {
  line-height: 40px;
  vertical-align: baseline;
}

.tagger_input {
  background-color: rgb(52, 152, 219);
  margin-left: 1px;
  color: #FFF;
  border: none;
  box-shadow: none;
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
}

.tagger_input:first-of-type{

}

.tagger_input:focus {
  border-color: none;
  box-shadow: none;
  -webkit-box-shadow: none;
  outline: -webkit-focus-ring-color none 5px;
}

.post .tagger {
  line-height: normal;
}

.post .tagger_complete:hover {
  cursor: pointer;
}
