.post_indicator {
  /*outline: 1px solid red;*/
  padding: 0 !important;
  padding-top: 80px !important;
  -webkit-transition: all .2s;
  transition: all .2s;
}

.loading-text {
  -webkit-transition: all .2s;
  transition: all .2s;
}

.spinner {
  -webkit-transition: all .2s;
  transition: all .2s;
}

.post_container_box {
  margin-top: 20px;
}

.post .textbox {
  font-size: 1.2em;
}

.tags_holder {
  margin-top: 5px;
}

.tagger {
  font-size: 1.2em;
}

.post_input {
}

.tagger_input {
  background-color: transparent;
  margin-left: 1px;
  !color: #FFF;
  border: none;
  box-shadow: none;
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
}

.tagger_input:first-of-type{

}

.tagger_input:focus {
  border-color: none;
  box-shadow: none;
  -webkit-box-shadow: none;
  outline: -webkit-focus-ring-color none 5px;
}

div.post {
  padding-bottom: 10px;
  opacity: 0;
  display: block;
}

.post .tagger {
  line-height: normal;
}

.post .tagger_complete:hover {
  cursor: pointer;
}


.buttons_holder {
  margin: 0 20px;
  opacity: 0;
  -webkit-transition: all .3s;
  transition: all .3s;
}

.buttons_holder .custom_button {
  display: inline-block;
}

.add_photos {
  width: 70px;
  height: 45px;
  line-height: 45px;
  background-color: #70b6e5;
  font-size: 1.4em;
  text-align: center;
}

.add_photos:hover {
  background-color: #99cbed;
}

.post_submit {
  width: 70px;
  height: 45px;
  text-align: center;
  display: inline-block;
  float: right;
  background-color: #3498db;
  font-size: 1.2em;
}

#image_input {
  display: none;
}

/*width가 780 미만이 되면..*/
@media (max-width: 780px) {
  .post {
    margin-bottom: 20px;
  }

  .post .textbox {
    font-size: 1.1em;
  }

  .tags_holder {
    margin-top: 5px;
  }

  .tagger {
    font-size: 1.1em;
  }

  .buttons_holder {
    padding: 0 25px;
  }

  .add_photos {
    width: 65px;
    height: 40px;
    line-height: 41px;
    font-size: 1.2em;
  }

  .post_submit {
    width: 65px;
    height: 40px;
    line-height: 41px;
    font-size: 1em;
  }
}

/*width가 360 미만이 되면..*/
@media (max-width: 360px) {
  .post {
    margin-bottom: 15px;
  }

  .post .textbox {
    font-size: 0.9em;
    margin-top: 5px;
  }

  .tags_holder {
    margin-bottom: 0px;
  }

  .tagger {
    font-size: 0.9em;
  }

  .buttons_holder {
    padding: 0 15px;
    min-width: 260px;
  }

  .add_photos {
    width: 60px;
    height: 37px;
    line-height: 38px;
    font-size: 1.1em;
  }

  .post_submit {
    width: 60px;
    height: 37px;
    line-height: 38px;
    font-size: 0.9em;
  }
}
