ul, li {
  list-style-type: none;
  padding: 0;
}

.container_box {
  /*padding-left: 15px;*/
  padding-right: 15px;
  margin-top: 0;
}

.ranking_indicator {
  /*outline: 1px solid red;*/
  padding: 0 !important;
  -webkit-transition: all .2s;
  transition: all .2s;
}

.loading-text {
  -webkit-transition: all .2s;
  transition: all .2s;
}

.spinner {
  -webkit-transition: all .2s;
  transition: all .2s;
}

.ranking_item {
  width: 100%;
  height: 80px;
  line-height: 80px;
  min-width: 350px;
}

.ranking_num {
  width: 10%;
  height: 100%;
  font-size: 1.7em;
  font-weight: 200;
  text-align: right;
  float: left;
  margin-right: 15px;
}

.ranking_content {
  width: 85%;
  height: 100%;
  line-height: 80px;
  float: left;
  margin-bottom: 20px;
  border: 1px solid #2ac1bc;
  border-radius: 15px;
}

.ranking_profile_pic_box {
  width: 60px;
  height: 60px;
  display: inline-block;
  line-height: normal;
  border-radius: 50%;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  overflow: hidden;
  vertical-align: middle;
  margin-left: 15px;
}

.ranking_profile_pic {
  max-height: 100%;
  -webkit-transform:translate(-50%);
  -moz-tranform:translate(-50%);
  -ms-transform: translate(-50%); /* IE 9 */
  transform: translate(-50%);
  margin-left: 50%;
}

.ranking_user_info {
  line-height: normal;
  display: inline-block;
  vertical-align: middle;
  margin-left: 5px;
}

.ranking_title_text {
  color: #888;
}

.ranking_username {
  color: #888;
}

.ranking_like_info {
  padding-right: 20px;
  text-align: right;
  display: inline-block;
  vertical-align: middle;
  float: right;
}

/*width가 400 미만이 되면..*/
@media (max-width: 400px) {

}
