.ranking_item {
  width: 100%;
  height: 80px;
  margin-bottom: 20px;
  min-width: 350px;
}

.ranking_num {
  width: 50px;
  height: 80px;
  line-height: 80px;
  font-size: 2em;
  margin-right: 10px;
  text-align: center;
  float: left;
}

.ranking_content {
  width: calc(100% - 80px);
  height: 80px;
  background-color: rgb(246, 246, 246);
  border: 2px solid rgb(66, 156, 240);
  padding: 0 20px 0 10px;
  border-radius: 25px;
  -moz-border-radius: 25px;
  -webkit-border-radius: 25px;
  float: left;
  vertical-align: middle;
}

.ranking_profile_pic_box {
  width: 80px;
  height: 80px;
  line-height: 80px;
  vertical-align: middle;
  text-align: center;
  display: inline-block;
  margin-right: 10px;
  float: left;
  /*outline: 1px solid green;*/
  position: relative;
}

.ranking_pic_tmp {
  width: 60px;
  height: 60px;
  overflow: hidden;
  border-radius: 50%;
  /*outline: 1px solid red;*/
  display: block;
  position: absolute;
  top: 50%;
  margin-top: -30px;
  left: 50%;
  margin-left: -30px;
}

.ranking_profile_pic {
  max-height: 100%;
  margin-left: 50%;
  transform: translate(-50%);
  display: block;
}

.ranking_center_side {
  width: auto;
  height: 80px;
  float: left;
}

.ranking_title {
  width: auto;
  height: 40px;
  position: relative;
}

.ranking_title_img {
  position: absolute;
  bottom: 0;
}

.ranking_title_text {
  width: 200px;
  color: rgb(93, 205, 240);
  margin-right: 5px;
  position: absolute;
  bottom: 0;
  left: 25px;
}

.ranking_username {
  width: auto;
  height: 40px;
  color: #736f6f;
}

.ranking_right_side {
  width: auto;
  height: 80px;
  line-height: 80px;
  float: right;
}

/*width가 400 미만이 되면..*/
@media (max-width: 400px) {
  .ranking_item {
    height: 60px;
    margin-bottom: 20px;
  }

  .ranking_num {
    width: 50px;
    height: 60px;
    line-height: 70px;
    font-size: 1.5em;
  }

  .ranking_content {
    border-radius: 20px;
    -moz-border-radius: 20px;
    -webkit-border-radius: 20px;
  }

  .ranking_profile_pic_box {
    width: 50px;
    height: 60px;
    line-height: 60px;
    margin-right: 10px;
  }

  .ranking_profile_pic {
    width: 45px;
    height: 45px;
  }

  .ranking_title {
    height: 20px;
    line-height: 20px;
    margin-top: 10px;
    font-size: 0.8em;
  }

  .ranking_title_img {
    height: 20px;
    line-height: 18px;
  }

  .ranking_title_text {
    width: 150px;
    height: 20px;
    line-height: 20px;
    margin-right: 5px;
    bottom: 0;
    left: 20px;
  }

  .ranking_username {
    height: 20px;
    line-height: 20px;
    font-size: 0.8em;
  }

  .ranking_center_side {
    height: 60px;
  }

  .ranking_right_side {
    height: 60px;
    line-height: 60px;
  }

  .ranking_right_side span {
    font-size: 0.8em;
  }

}
