.signup_holder {
  min-width: 320px;
  padding: 30px;
  margin: 100px 20px 0 20px;

  border-radius: 10px;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  border: 1px solid #AAA;
}

.input_holder {
  padding-top: 20px;
}

.error_msg {
  height: 12px;
  color: red;
  float: right;
  font-size: 12px;
  margin-top: 5px;
  margin-bottom: 10px;
}

.signup_title {
  text-align: center;
  font-size: 2em;
  font-weight: bold;
}

.signup_holder input {
  font-size: 1.2em;
  width: 85%;
  border: none;
  box-shadow: none;
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  background-color: transparent;
  margin-left: 8px;
}

.form_container {
  clear: both;
  margin: 0;
}

.signup {
  background-color: #CCC;
}

#sayhi {
  width: 70%;
}

#sayhi_length {
  float: right;
  line-height: 2em;
}


/*width가 500(container_box의 최대 크기) 미만이 되면..*/
@media (max-width: 500px) {
  .signup_holder {
    padding: 25px;
  }

  .signup_title {
    font-size: 1.6em;
  }

  .input_holder {
    padding-top: 17px;
  }

  .buttons_holder {
    margin-top: 20px;
  }

  .error_msg {
    height: 10px;
    color: red;
    font-size: 0.65em;
    margin-top: 2px;
    margin-bottom: 6px;
  }
}

/*width가 500(container_box의 최대 크기) 미만이 되면..*/
@media (max-width: 360px) {
  .signup_holder {
    padding: 20px;
  }

  .signup_title {
    font-size: 1.4em;
  }

  .input_holder {
    padding-top: 15px;
  }

  .buttons_holder {
    margin-top: 18px;
  }

  .error_msg {
    height: 11px;
    color: red;
    font-size: 0.65em;
    margin-top: 2px;
    margin-bottom: 6px;
  }
}
