.signup_holder {
  min-width: 320px;
  padding: 30px;
  margin: 150px 20px 0 20px;

  border-radius: 10px;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  border: 1px solid #AAA;
}

.signup_title {
  text-align: center;
  font-size: 2em;
  font-weight: bold;
}

.signup_holder input {
  font-size: 1.2em;
  width: 85%;
  border: none;
  box-shadow: none;
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  background-color: transparent;
  margin-left: 8px;
}
