#tagholder {
  line-height: 30px;
}

/*이렇게 하면 안되지만...*/
div .post {
  opacity: 1;
}

.container_box{
  margin-top: 0px;
}

.tag_box {
  border: 0;
}

.tag_holder {
  padding: 4px 13px !important;
  border-radius: 30px !important;
  margin-bottom: 8px;
  margin-right: 7px !important;
}

.starting_sharp, .tag_name {
  font-size: 1.2em;
}

.tag_indicator {
  /*outline: 1px solid red;*/
  padding: 0 !important;
  -webkit-transition: all .2s;
  transition: all .2s;
}

.loading-text {
  -webkit-transition: all .2s;
  transition: all .2s;
}

.spinner {
  -webkit-transition: all .2s;
  transition: all .2s;
}

/* width가 720미만 */
@media (max-width: 720px) {
  #tagholder {
    line-height: 23px;
  }

  .tag_holder {
    padding: 4px 8px!important;
    border-radius: 22px !important;
    margin-right: 3px !important;
    margin-bottom: 8px !important;
  }

  .starting_sharp, .tag_name {
    font-size: 1em;
  }

  .tag_count {
    font-size: 13px;
    color: #dfdfdf;
  }
}

/* width가 360미만 */
@media (max-width: 360px) {
  #tagholder {
    line-height: 17px;
  }

  .tag_box {
    border: 0 !important;
    margin-left: 0 !important;
    margin-right: 0 !important;
    padding-top: 0 !important;
  }

  .tag_holder {
    padding: 3px 6px!important;
    border-radius: 15px !important;
    margin-right: 2px !important;
    margin-bottom: 5px !important;
  }

  .starting_sharp, .tag_name {
    font-size: 0.9em;
  }

  .tag_count {
    font-size: 11px;
    color: #dfdfdf;
  }
}
