#tagholder {
  line-height: 40px;
  vertical-align: baseline;
}

/*이렇게 하면 안되지만...*/
.container_box {
  opacity: 1;
}

.tag_holder {
  padding: 7px 15px 7px 15px !important;
  border-radius: 12px !important;
  margin-bottom: 10px;
}

.starting_sharp, .tag_name {
  font-size: 30px;
}

.tag_count {
  font-size: 18px;
  color: #dfdfdf;
}

/* width가 720미만 */
@media (max-width: 720px) {
  .container_box {
    /*width: 100%;*/
  }
  
}
