#tagholder {
  line-height: 40px;
  vertical-align: baseline;
}

.tag_holder_tmp {
  padding-top: 7px !important;
  padding-bottom: 7px !important;
  padding-left: 15px !important;
  padding-right: 15px !important;
  border-radius: 12px !important;
  margin-bottom: 10px;
}

.starting_sharp_tmp, .tag_name_tmp {
  font-size: 30px;
}

.tag_count_tmp {
  font-size: 18px;
  color: #dfdfdf;
}
